<%- include("partials/header") -%>
<br><br>
<h1 style="text-align: center;">About</h1>
<h5 style="text-align: center;">One month ago, we set out with the goal of making crowdfunding more accessible to everyone and help++ was born. Help++ is a Government recognized crowdfunding website charged with the mission of harnessing the power of technology to make a large-scale social impact. No one can change the world alone, and that’s why we have an amazing team at help++. Every single day, each one of us are working together to unleash the power of crowdfunding to ensure a better tomorrow.

</h5>
<div style="margin-top: 300px;">

</div>


<%- include("partials/footer") -%>
