<%- include("partials/header") -%>
<br><br>
<h1 style="text-align: center;">Contact Us</h1><br>
<h5 style="text-align: center;">Our Office <br><br>
<b>help++</b> - Manipal, India <br>
MIT Hostels<br>
Kamath Circle,<br>
Eshwar Nagar<br>
Manipal,Karnataka<br><br><br>

<b>help++</b> is now on Instagram and Twitter! <br>
Follow us & say hello to become a member.<br><br>
Get stories of people who need nothing more than your voice - a simple share. Send your feedback directly to the CEO. <br>
Email <a href="<a href="mailto:ceo@help++.com"><b>ceo@help++.com</b></a> and tell him about your experience, what we're doing well and what we can improve.</a></h5><br><br>
<div style="margin-top: 300px;">

</div>

<%- include("partials/footer") -%>
