<%- include("partials/header") -%>
<br><br>
<h1 style="text-align: center;">Contact Us</h1><br>
<h5 style="text-align: center;">For more information mail us at <a href="#">123@abc.com</a></h5><br><br>
<div style="margin-top: 300px;">

</div>

<%- include("partials/footer") -%>
