<%- include("partials/header") -%>

<br><br>
<h1 style="text-align: center;">FAQs<br><br></h1>
<h5 style="text-align: left;padding-left: 20px">
<b>How do I know my donation will reach the beneficiary?</b><br><br>

You will receive update notifications via Email/SMS/WhatsApp over the following months about the fundraiser that you supported.You can also visit the fundraiser and send a message to the campaigner.<br><br><br>


<b>Does the donation reach the individual directly?</b><br><br>

With help++, the money you collect goes directly to the bank account associated with your fundraising page.<br><br><br>


<b>How do I get the details of my donors?</b><br><br>

For the required information, please contact our Customer Support team at <a href="mailto:riteshjain.engi@gmail.com">help@helpplusplus.org</a> or call/WhatsApp +91 9468213144.<br><br><br>


<b>Can funds raised for an NGO be transferred to a personal account?</b><br><br>

No. help++ practices absolute transparency and accountability. If the funds were raised in the name of an NGO then they cannot be transferred to a personal/corporate account. If there is an issue found with the NGO's documents or there is any such issue, the funds will be refunded to the donors.<br><br><br>

</h5>
<div style="margin-top: 300px;">

</div>


<%- include("partials/footer") -%>
