<%- include("partials/header") -%>

    <section id="heading">
        <div class="row">
            <div class="col-lg-6 col-mid-12 col-sm-12">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="big-heading">At <strong><i>help++</i></strong>, we believe saving lives is a service. With the help of millions of donors online, who step up to generously support friends, colleagues and strangers with contributions, we are trying to reach each and every individual across India to ensure that no life is ever lost due to lack of money.</h1><br><br>
                <form style="display: inline;" method="post" action="/loginuser">
                  <button class="myButton btn" name="User" value="u"><i class="fas fa-hands-helping"></i>  Login to Donate</button>
                </form>
                <form action="/loginuser" method="post" style="display: inline;">
                  <button class="myButton btn" name="NGO" value="n"><i class="fas fa-hand-holding-medical"></i>  Register as NGO</button>
                </form>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </section>

    <section id="middle">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 middle-ele">
            <i class="fas fa-check-circle middle-icon"></i><br><br><br>
            <h2>Trustworthy</h2><br>
            <h5 style="font-weight: lighter;">We always strive to make the fundraising process seamless and most importantly secure. We never let authenticity and transparency take a back seat.</h5>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 middle-ele">
            <i class="fas fa-rupee-sign middle-icon"></i><br><br><br>
            <h2 style=>Non-Profit Organisation</h2><br>
            <h5 style="font-weight: lighter;">Help++ is a Government recognized crowdfunding website charged with the mission of harnessing the power of technology to make a large-scale social impact.</h5>
          </div>
        </div>
    </section>

    <section id="caro">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
            <div class="carousel-item active">
                    <img class="caro-img" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202007/confused-4640878_1280.jpeg?ue9krfgslI0YMi3lsB9vNFaidVIMHPMn&size=770:433" class="d-block w-100" alt="right to education">
                    <br><br><br>
                    <h2 class="caro-head">Crowdfunding for Education</h2><br>
                    <p class="caro-para">Education Crowdfunding helps teachers, students and NGOs raise funds to buy classroom supplies, take children on special field trips and build toilets.</p>
            </div>
            <div class="carousel-item">
                <img class="caro-img" src="https://i0.wp.com/www.giveindia.org/blog/wp-content/uploads/innerbanner-1.png?fit=753%2C497&ssl=1" class="d-block w-100" alt="motivational image">
                <br><br><br>
                <h2 class="caro-head">They Took Care Of Us, Now Our Turn: Help India's Senior Citizens</h2><br>
                <p class="caro-para">Just as our senior citizens worked overtime to keep us safe, we are now ready to stand on the frontlines for them, to provide for the financial needs of the elderly.</p>
            </div>
              <div class="carousel-item">
                <img class="caro-img" src="https://images.financialexpress.com/2018/06/poverty-1.jpg" class="d-block w-100" alt="poor kids eating food">
                <br><br><br>
                <h2 class="caro-head">Keeping children healthy</h2><br>
                <p class="caro-para">Children are God’s gift to us and are looked upon as a blessing! Keeping children healthy, safe and well provided for is a cause to which we can all unite and help selflessly.</p>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
     </section>

     <section id="middle2" style="background-color: #f5f5f5; padding: 2rem 0rem; text-align: center;">
      <h2 style="text-align: left; margin: 2rem;">Why you should Donate from our site?</h2>
      <h5 style="text-align: left; margin: 3rem 2rem;">We make sure that the thousands of donors on our platform feel confident and secure while donating to their favorite causes, which in turn will help you raise maximum funds. Our platform follows high safety and transparency standards, and we have a thorough due diligence process that every NGO has to undergo.</h5>
      <h2 style="text-align: right; margin: 2rem;">What about transparency?</h2>
      <h5 style="text-align: left; margin: 3rem 2rem;">Help++ tries to verify the information provided by campaigners to the maximum but it is impossible to be 100% accurate. Donors should make a payment only if they personally know and trust the campaigner and/or feel that the cause is genuine. All transactions made on Help++ are secure with the highest levels of SSL encryption currently available on the Internet. We ensure that our technology is up to date so that your private information is secure.</h5>
      <h2 style="text-align: left; margin: 2rem;">About E-Certificates?</h2>
      <h5 style="text-align: left; margin: 3rem 2rem;">We at help++ provide our regular donors with an E-certificate for their generosity and the impact they make in the society their donations. These E-certificates are recognized by Government of India and can be used by the donors in their portfolios. We believe social work with right motivation can take our world to new levels of kindness.

</h5>
  </section>

    <!-- <section id="middle3" style="text-align: center; color: #03256c; padding-top: 2rem;">
        <h2 style="font-size: 3rem; text-align: center;">Our Connections</h2>
        <p style="margin: 5rem;">coming soon</p>
    </section> -->
<%- include("partials/footer") -%>
